<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Food Item List</h1>
    <p class="lead">Below is a list of all the food items offered by Bellisimo</p>
    <hr class="my-4">

    <div class="row">
      <div class="col-8">
        <p>Search for an item via its name here: </p>
        <!--<div class="col-lg-6" name="filterSearch">-->
        <form class="form-inline my-2 my-lg-0 ">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!--</div>-->
      </div>
      <div class="col-4">
        <a href="#" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#foodSpecialModal" > Create Special</a>
      </div>
    </div>
  </div>

  <div *ngIf="alert" class="alert alert-info alert-dismissible fade show" role="alert">
    <button type="button" class="close" (click)="falsifyAlert()" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong> {{ alertMessage }}  </strong>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div *ngIf="isAdmin && isLoggedIn">
        <span><button href="#" name="btnMeat" class="btn btn-outline-success btn-block"> Add a meat item </button></span>
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor = "let meat of meatItems" >
            <div class="card">
              <img class="card-img-top" src="" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{ meat.name }}</h4>
                <p class="card-text">R {{ meat.price}}</p>
                <!--<a href="#" class="btn btn-outline-secondary"  [routerLink]="['/food', meat.id]"  >Details</a>-->
                <a href="#" class="btn btn-outline-secondary"  (click)="onSelect(meat); " data-toggle="modal" data-target="#foodDetailModal"  >Details</a>
                <a *ngIf="isAdmin && isLoggedIn" href="#" (click)="onSelect(meat);"  data-toggle="modal"  data-target="#foodUpdateModal"   class=" btn btn-outline-primary"> Update </a>
                <a *ngIf="isAdmin && isLoggedIn" href="#" data-toggle="modal" data-target="#foodDeleteModal" class="btn btn-outline-danger"> Delete </a> <!--(click)="delete(meat); $event.stopPropagation()"-->
                <span *ngIf="meat.hasSpecial" class="badge badge-secondary"> Special</span>
                <a *ngIf="!meat.hasSpecial && isAdmin" (click)="onSelect(meat);" href="#" data-toggle="modal" data-target="#addSpecialToItemModal" class="btn btn-outline-info">Add to Special</a>
              </div>
            </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div *ngIf="isAdmin && isLoggedIn">
        <span><button href="#" name="btnMeat" class="btn btn-outline-success btn-block"> Add a fruit/veg item </button></span>
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor = "let fruit of fruitItems">
          <div class="card">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{ fruit.name }}</h4>
              <p class="card-text">R {{ fruit.price}}</p>
              <!--<a href="#" class="btn btn-outline-secondary"  [routerLink]="['/food', fruit.id]"  >Details</a>-->
              <a href="#" class="btn btn-outline-secondary"  (click)="onSelect(fruit); " data-toggle="modal" data-target="#foodDetailModal"  >Details</a>
              <a *ngIf="isAdmin && isLoggedIn"  href="#" class=" btn btn-outline-primary"> Update </a>
              <a *ngIf="isAdmin && isLoggedIn" (click)="delete(fruit); $event.stopPropagation()" href="#" class="btn btn-outline-danger"> Delete </a>
              <span *ngIf="fruit.hasSpecial" class="badge badge-secondary"> Special</span>
              <a *ngIf="!fruit.hasSpecial && isAdmin" class="btn btn-outline-info">Add to Special</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div *ngIf="isAdmin && isLoggedIn">
        <span><button href="#" name="btnMeat" class="btn btn-outline-success btn-block"> Add a dairy item </button></span>
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor = "let dairy of dairyItems">
          <div class="card" >
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{ dairy.name }}</h4>
              <p class="card-text">R {{ dairy.price}}</p>
              <!--<a href="#" class="btn btn-outline-secondary"  [routerLink]="['/food', dairy.id]"  >Details</a>-->
              <a href="#" class="btn btn-outline-secondary"  (click)="onSelect(dairy); " data-toggle="modal" data-target="#foodDetailModal"  >Details</a>
              <a *ngIf="isAdmin && isLoggedIn"  href="#" class=" btn btn-outline-primary"> Update </a>
              <a *ngIf="isAdmin && isLoggedIn" (click)="delete(dairy); $event.stopPropagation()" href="#" class="btn btn-outline-danger"> Delete </a>
              <span *ngIf="dairy.hasSpecial" class="badge badge-secondary"> Special</span>
              <a *ngIf="!dairy.hasSpecial && isAdmin" class="btn btn-outline-info">Add to Special</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Detail Modal -->
  <div *ngIf="item" class="modal fade" id="foodDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Details of {{ item.name }} item</h5>
        </div>
        <div class="modal-body">
           <label> Item Name:    {{ item.name }}</label> <br>
           <label> Item Price:    {{ item.price }}</label><br>
           <label> Item on Special: </label> <label *ngIf="item.hasSpecial"> Yes</label> <label *ngIf="!item.hasSpecial"> No</label><br>
          <label *ngIf="item.special"> Special Name: {{item.special}}</label>
           <label> Item Description:    {{ item.name  }} can be found at your nearest Bellisimo store.</label><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--Food Special Modal-->
  <div class="modal fade" id="foodSpecialModal" tabindex="-1" role="dialog" aria-labelledby="foodSpecialModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form #foodSpecialForm="ngForm" (ngSubmit)="onSubmitFoodSpecialForm(foodSpecialForm)">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="foodSpecialModalLabel">Create Special</h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="specialName">Name:</label>
              <input type="text" class="form-control" id="specialName" [(ngModel)]="new_special.name" name="name" placeholder="Select a name for the special" required>
            </div>
            <div class="form-group">
              <label for="specialPercentage">Percentage Discount: </label>
              <input type="number" class="form-control" id="specialPercentage" [(ngModel)]="new_special.percentage" name="percentage"  aria-describedby="discount" placeholder="Percentage Discount" required>
              <small id="discount" class="form-text text-muted">E.g: 40 will mean a 40% discount on items in this special</small>
            </div>
            <div class="form-group">
              <label for="specialStartDate">Start Date: </label>
              <input type="datetime-local" class="form-control" id="specialStartDate" [(ngModel)]="new_special.startDate" name="startDate" placeholder="Click here">
            </div>
            <div class="form-group">
              <label for="specialEndDate">End Date: </label>
              <input type="datetime-local" class="form-control" id="specialEndDate" [(ngModel)]="new_special.endDate" name="endDate" placeholder="Click here">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" [disabled]="!foodSpecialForm.valid" >Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--Food Update Modal-->
  <div *ngIf="item" class="modal fade" id="foodUpdateModal" tabindex="-1" role="dialog" aria-labelledby="foodUpdateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="foodUpdateModalLabel">Update Food Item Details</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="foodName">Current Name: {{ item.name }}</label>
              <input type="text" class="form-control" id="foodName"  placeholder="Change the name for the item">
              &lt;!&ndash;<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>&ndash;&gt;
            </div>
            <div class="form-group">
              <label for="foodPrice">Current Price: {{ item.price }} </label>
              <input type="text" class="form-control" id="foodPrice" aria-describedby="priceExplain" placeholder="Percentage Discount">
              <small id="priceExplain" class="form-text text-muted">Enter the price up to two decimal digits</small>
            </div>
            <div class="form-group">
              <label for="foodImage">Change the display image: </label>
              <input type="text" class="form-control" id="foodImage"  placeholder="Something done to change the image">
              &lt;!&ndash;<small id="discount" class="form-text text-muted">E.g: 40 will mean a 40% discount on items in this special</small>&ndash;&gt;
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success"> Update</button>
        </div>
      </div>
    </div>
  </div>

  <!--Food Delete Modal-->
  <div *ngIf="item" class="modal fade" id="foodDeleteModal" tabindex="-1" role="dialog" aria-labelledby="foodDeleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="foodDeleteModalLabel">Delete? Really?</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="foodName">Are you sure you want to delete {{ item.name }} item? </label>
              <p> Deleting this item will permanently remove it from the database. </p>
              &lt;!&ndash;<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>&ndash;&gt;
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">No, I changed my mind</button>
          <button type="submit" class="btn btn-success"> Yes, delete this item</button>
        </div>
      </div>
    </div>
  </div>

  <!--Add Special to Item Modal-->
  <div *ngIf="item && specials" class="modal fade" id="addSpecialToItemModal" tabindex="-1" role="dialog" aria-labelledby="addSpecialToItemModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form #specialToItemForm="ngForm" (ngSubmit)="onSubmitSpecialToItemForm(specialToItemForm)">
          <div class="modal-header">
            <h5 class="modal-title" id="addSpecialToItemModalLabel">Apply Special</h5>
          </div>
          <div class="modal-body">
            <div *ngIf="specialAlert" class="alert alert-info alert-dismissible fade show" role="alert">
              <strong> {{ alertMessage }}  </strong>
            </div>
              <div class="form-group">
                <label>Choose a special to apply this item to: </label>
                <!--<div class="list-group">
                  <a href="#" (click)="chosenSpecial(special)" class="list-group-item list-group-item-action" *ngFor = "let special of specials">
                    <strong> {{ special.name }}</strong> - {{ special.percentage }} %
                  </a>
                </div>-->


                  <label class="btn btn-primary active">
                    <input type="radio" name="special_id" value="0" id="0"  autocomplete="off" checked> No Special selected
                  </label><br>
                  <div *ngFor="let special of specials">
                    <label class="btn btn-info" >
                        <input type="radio"  name="special_id" value="{{special.id}}" [(ngModel)]="special_id"  id="special.id" autocomplete="off"> {{ special.name }} <br>
                    </label>
                  </div>


              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" > Apply Special</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
