<div class="container">
  <div class="jumbotron">

    <h1 class="display-2">Welcome to Bellisimo</h1>
    <p class="lead">Your one stop lifestyle shop</p>
  </div>

  <div class="row">
    <div class="col-6">
      <h1 class="display-4"> Our Food</h1>
      Here at Bellisimo we offer the best selection of food products in the country.
    </div>
    <div class="col-6">
      <h1 class="display-4"> Our Clothing</h1>
      Our clothing items are imported all the way from South Africa encompassing a wide variety of tastes
    </div>
  </div>
</div>
